/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f8f8f8;
}

/* Заголовки */
h1 {
    font-size: 2em; /* Увеличиваем размер заголовка */
    color: #333;
    text-align: center;
}

/* Формы */
label {
    display: block;
    margin: 15px 0; /* Увеличиваем отступы между метками */
}

/* Поля ввода */
input[type="number"] {
    width: 100%;
    padding: 15px; /* Увеличиваем внутренний отступ */
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 1.5em; /* Увеличиваем размер шрифта для полей ввода */
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 15px; /* Увеличиваем отступы в ячейках таблицы */
    border: 1px solid #ddd;
}

/* Кнопки */
button {
    width: 100%;
    padding: 15px; /* Увеличиваем внутренний отступ кнопок */
    margin-top: 10px;
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    border: none; /* Без границы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 1.5em; /* Увеличиваем размер шрифта на кнопках */
}

button:hover {
    background-color: #45a049; /* Темнее при наведении */
}

/* Параграфы */
p {
    font-size: 1.2em; /* Увеличиваем размер текста в параграфах */
    line-height: 1.5;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Уменьшаем размер заголовка на мобильных устройствах */
    }

    button {
        font-size: 1.2em; /* Уменьшаем размер текста на кнопках для мобильных устройств */
    }

    p {
        font-size: 1em; /* Уменьшаем размер текста в параграфах для мобильных устройств */
    }
}
