/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

label {
    font-size: 25px;
    width: 60%;
    display: block;
    margin-bottom: 10px;
    margin: auto;
}

input[type="number"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 28px;
}

/* Стили для таблицы */
table {
    font-size: 24px;
    width: auto%;
    border-collapse: collapse;
    margin: auto; /* Центрирование таблицы */
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    width: 26.4%; /* Ширина кнопки */
    margin: 10px auto; /* Центрирование кнопки */
    display: block; /* Блочный элемент для центрирования */
}

button:hover {
    background-color: #0056b3;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    input[type="number"] {
        font-size: 36px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    input[type="number"] {
        font-size: 30px;
        padding: 10px;
    }
    td {
        font-size: 14px;
        padding: 8px;
    }
}
